.cards{
   border-radius: 5px;
   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8); 
   color:white;
   background-color: rgba(101, 86, 86, 0.495)

}

.cards:hover{
 cursor:pointer;
 box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
 transform:scale(1.05);
 transition:0.6s;
}